.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .App .App-header {
    background-color: rgb(172, 162, 162);
    height: 186px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }

nav {
  border: 1px solid red;
  width: 50%;
  align-self: center;
  margin: 30px;
  background-color: pink;
  padding: 20px;
  border-radius: 5px; }
  nav form:first-child {
    width: 50%; }
    nav form:first-child input[type="text"] {
      border: 0px;
      padding: 10px;
      width: 100%; }

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  main div {
    display: flex;
    flex-direction: column;
    width: 30%; }
  main header {
    display: flex;
    justify-content: space-between; }
    main header .clearBasket {
      color: red;
      opacity: .3; }
    main header .clearBasket:hover {
      opacity: 1; }

ul {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  grid-gap:10px; }
  ul li {
    margin: 7px 0px;
    padding: 20px; }
  ul li:nth-child(odd) {
    background: #f9f9f9; }
  ul li:nth-child(even) {
    background: #efefef; }

  h3{
    padding-left: 50px;
  }

